body 
{
	  background-color:rgb(0, 183, 255); /* blue */
	  color: white;	  
}

button
 {
  font-size : 15px;
  width: 15;
  height: 50px;
}

button:hover 

{
	background-color: #C0C0C0; /* silver */
	text-decoration: underline;
}

a
{
	text-decoration: none;
}